<div class="row" style="padding: 100px">
  
  <div class="panel panel-default list-panel">
    <div class="panel-heading">
      <h3 class="panel-title" data-bind="text: title"></h3>
    </div>
    
    <div class="panel-body">

      <div class="row"> <!-- ingredients -->
        <div class="col-md-12 col-xs-12">
          <p>
            <strong>Ingredients: </strong>
            <span style="opacity: 0.4" class="glyphicon glyphicon-pencil" data-bind="click: editIngredients"></span>
          </p>
          <div class="row" data-bind="visible: editingIngredients">
            <div class="col-md-4">
              <select style="width: 100%" type="text" class="form-control" id="inputListIngredients"></select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <div class="list-group" data-bind="foreach: combineIngredientsByID">
                <div class="list-group-item">
                  <span class="col-md-1 col-xs-1">
                    <input type="checkbox" data-bind="checked: done(), click: checkAll">
                  </span>
                  <b class="col-md-6 col-xs-6" data-bind="text: netQuantity().repr()"></b>
                  <a data-bind="attr: {href: '#ingredient/'+id}, text: name"></a>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div> <!-- ingredients -->
            
    </div>
  </div>  
</div>
