<div class="row" style="padding: 100px">
  
  <div class="panel panel-default meal-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Meal</h3>
    </div>
    
    <div class="panel-body">

      <div class="row">
        <strong class="col-md-2">Title: </strong>
        <span class="col-md-2" data-bind="visible: !editingTitle(), text: title, click: editTitle"></span>
        <input type="text" data-bind="visible: editingTitle, value: title, hasFocus: editingTitle">
      </div>
      <br>

      <div class="row">
        <strong class="col-md-2">Description: </strong>
        <pre class="col-md-4 well" data-bind="visible: !editingDescription(), text: description, click: editDescription"></pre>
        <textarea class="col-md-4" type="text" rows="4" data-bind="visible: editingDescription, value: description, hasFocus: editingDescription"></textarea>
      </div>
      <br>

      <div class="row">
        <strong class="col-md-2">Recipe: </strong>
        <pre class="col-md-4 well" data-bind="visible: !editingRecipe(), text: recipe, click: editRecipe"></pre>
        <textarea class="col-md-4" type="text" rows="4" data-bind="visible: editingRecipe, value: recipe, hasFocus: editingRecipe"></textarea>
      </div>
      <br>
      
      <div class="row"> <!-- ingredients -->
        <div class="col-md-12">
          <p>
            <strong>Ingredients: </strong>
            <span style="opacity: 0.4" class="glyphicon glyphicon-pencil" data-bind="click: editIngredients"></span>
          </p>
          <div class="row" data-bind="visible: editingIngredients">
            <div class="col-md-4">
              <select style="width: 100%" type="text" class="form-control" id="inputMealIngredients"></select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4">
              <div class="list-group" data-bind="foreach: ingredients().ingredients">
                <div class="list-group-item">
                  <b class="col-md-2" data-bind="attr: {id: 'meal-quantity-'+id()}, visible: !editingQuantity(), text: quantity, click: editQuantity"></b>
                  <input class="col-md-2" type="number" min="1" data-bind="visible: editingQuantity, value: quantity, hasFocus: editingQuantity">
                  <a data-bind="attr: {href: '#ingredient/'+id()}, text: name"></a>
                  <span style="cursor: pointer; opacity: 0.7" class="glyphicon glyphicon-remove pull-right" data-bind="click: $parent.ingredients().removeIngredient"></span>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div> <!-- ingredients -->
      
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-primary" data-bind="click: saveChanges">Save Changes</button>
        </div>
      </div>
      
    </div>
  </div> <!-- end host panel -->
  <span class="btn btn-danger" data-bind="click: remove">Remove</span>
</div>
